@fontface {
  font-family: 'Rajdhani', sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700" rel="stylesheet")
}

@@font-face {
    font-family: 'Monoton', cursive;
    src: url(href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet");
}

#root {
font-family: 'Rajdhani', sans-serif;
}

ul {
    list-style-type: none;
}

p {
  font-size: 1.5em;
}

.searchPage {
    padding-top: 10%;
    text-align: center;
    color: white;
}

.searchPage img {
    margin-bottom: 7%;
}

.down {
    /* position: absolute; */
    margin-top: 15%;
}

.search-background {
    background: url('./img/minimalist.jpg') no-repeat center center;
    background-size: cover;
    flex: 1;
    height: 85vh;
}

.eventSuggestRender {
    background-color: rgba(247,241,216,0.5);
    padding-bottom: 2%;
}

.eventSuggest h1 {
    font-size: 4em;
    text-align: center;
    padding: 5% 0 5% 0;
}

.eventSuggest h2 {
    font-size: 1.5em;
}

.eventSuggest li {
    font-size: 1.5em;

}

.navBar {
    color: rgba(193,62,25,1);
}

.navBar:hover {
   color: rgba(0,0,0,1);
}
