@fontface {
  font-family: 'Rajdhani', sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700" rel="stylesheet")
}

#root {
  font-family: 'Rajdhani', sans-serif;
  background: src("/img/record-player.jpg");
  background-size: cover;
}

ul {
    list-style-type: none;
}

p {
  font-size: 1.5em;
}

Link {
    color: white;
}
.centerSearch {
    margin: 0 auto;
    margin-top: 25%;
    height: 50%;
}

.centerContent {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 700;
    /* font-size: 3em; */
}
.DescriptionBox {
    text-align: center;
}
.NavItem {
    float: left;
}


.centerPage {
    padding-top: 18%;
}

.search-background {
    background: url('./img/minimalist.jpg') no-repeat center center;
    background-size: cover;
    flex: 1;
    height: 100vh;
}

centerContent: {

}
