/* @fontface {
  font-family: 'Domine', serif;
  src: url('https://fonts.googleapis.com/css?family=Domine:400,700')
} */

body {
  font-family: 'Playfair Display', serif;
  /* text-align:center;
  font-size:1.5em;
  margin-left:10%;
  margin-right:10%;
  margin-bottom:10%;
  margin-top:10%; */
}
.historyBox {
    color:blue;
    margin: 0 auto;
}
.songBox {
    color: green;
}

.title {
    text-align: center;
    font-size: 3em;
}
.centerSearch {
    margin: 0 auto;
    margin-top: 25%;
    height: 50%;
}

ul {
    list-style-type: none;
}
.DescriptionBox {
    text-align: center;
}
.NavItem {
    float: left;
}


/* .title {
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:80%;
} */

p {
  font-size: 1em;
}

centerContent: {

}
